:root {
  --primary: #3070C0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: var(--font-pt);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--text-primary);
  overscroll-behavior-x: none;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

body {
  @apply text-white;
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
}
p, h1, h2, h3 {
  color: #fff;
}

h2 {
  @apply text-4xl;
}
h3 {
  @apply text-2xl;
  color: #3070C0;
}

main {
  @apply text-white py-12;
}
.container {
  @apply max-w-screen-2xl mx-auto;
}
.header {
  @apply fixed top-0 z-40 flex w-full px-4 text-white;
}
.panel-layout {
  @apply relative grid grid-cols-1 lg:grid-cols-3 gap-x-8 gap-y-8 px-8;
}
.panel {
  @apply text-center p-10;
  border-radius: 8px;
  background-color: #0E0E0E;
  border-color: #0E0E0E;
}
.subheader {
  @apply block mt-6 text-lg;
  color: #3070C0;
}
.logo {
  max-width: 225px;
}
.btn {
  @apply px-6 py-3 text-white text-lg mt-4;
  background-color: #3070C0;
  border-radius: 4px;
}
img {
  user-select: none;
}
.disclaimer {
  @apply flex flex-col items-center justify-center;
 background-color: #0E0E0E;
}
.price {
  @apply block my-4 font-bold text-2xl;
}
a {
  @apply underline;
  color: rgba(255,255,255,0.7);
}
a:hover {
  @apply no-underline;
}